.image-button {
    transition-property: transform background border-radius;
    transition-duration: 0.5s;
}

.image-button:hover {
    transform: translateY(2px);
    background: linear-gradient(45deg, #ff00c8, #ff7300);
    border-radius: 1em;
}

.dropdown-button {
    transition-property: background border-radius background-size;
    background: linear-gradient(45deg, #ff00c8, #ff7300);
    background-size: 0px 100%;
    background-repeat: no-repeat;
    transition-duration: 0.2s;
}

.dropdown-button:hover {
    background: linear-gradient(45deg, #ff00c8, #ff7300);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.text-button {
    transition-property: background border-radius;
    transition-duration: 0.5s;
}

.text-button:hover {
    background: linear-gradient(45deg, #ff00c8, #ff7300);
    border-radius: 3em;
}

.page {
    transition-property: box-shadow;
    transition-duration: 0.5s;
}

.page:focus {
    box-shadow: 1px 1px 10px black;
}