@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/GOTHIC.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pixel';
    src: url('fonts/Pixel.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #e7e7e7;
    margin: 0px;
    font-family: sans-serif;
    overflow-y: hidden;
}

header {
    background-color: white;
    margin: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    box-shadow: 1px 1px 5px gray;
}

.nav-top {
    border-bottom: 1px lightgray solid;
}

.nav-bottom {
    border-bottom: 1px lightgray solid;
}

main {
    margin-top: 110px;
    height: calc(100vh - 110px);
    max-height: calc(100vh - 110px);
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkgray; 
}

.page {
    background-color: white;
    min-height: 840px;
    height: max-content;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 630px;
    padding: 1in;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px gray;
    outline: none;
    white-space: normal;
}

/* GET MR. PECK's HELP WITH LINE BREAK */

div {
    line-break: strict;
    word-break: break-word;
}

.image-button {
    width: 16px;
    height: 16px;
    margin-bottom: 0px;
}

img {
    width: 100%;
}

.center {
    margin: auto;
    width: 100%;
}

.tool-button {
    border: none;
    background: none;
    outline: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 10px;
}

.text-button {
    transform: translateY(-12px);
}

.tool-button:hover {
    background: lightgray;
}

.tool-button:active {
    background: #4285F4;
}

.emoji-tool-button {
    font-size: 12px;
    padding-right: 8px;
    padding-left: 8px;
}

.title {
    outline: none;
    background: none;
    border: none;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    width: fit-content;
    border-radius: 2px;
    border: 1px white solid;
}

.title:hover {
    border: 1px lightgray solid;
}

.title:focus {
    border: 2px #4285F4 solid;
    margin-bottom: -2px;
}

.editor
{
    border:solid 1px #ccc;
    padding: 20px;
    min-height:200px;
}

.nav {
    list-style: none;
    margin-left: 20px;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-section {
    display: inline;
}

.nav-button {
    border: none;
    outline: none;
    border-radius: 2px;
}

.nav-button {
    background: none;
}

.nav-button:hover {
    background: lightgray;
}

.nav-button:focus {
    background: #75aaff5b;
}

.dialogue {
    background-color: white;
    text-align: center;
    position: absolute;
    margin-left: calc((100vw / 2) - 300px);
    margin-top: 200px;
    width: 600px;
    height: 200px;
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
    font-family: sans-serif;
    outline: none;
}

.dropdown-child {
    background-color: white;
    min-width: 200px;
    max-width: 250px;
    position: absolute;
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
}

.dropdown-child .dropdown-section {
    background-color: white;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    display: block;
}

.dropdown-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.dropdown-child .dropdown-section:hover {
    background-color: lightgrey;
}

.dropdown-button {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: left;
}

.custom-file-input::-webkit-file-upload-button {
    display: none;
}

.custom-file-input {
    width: 100px;
}

.custom-file-input::before {
    content: 'Open';
    -webkit-user-select: none;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    text-align: left;
}

.dropdown-button {
    background: none;
}

.dropdown-button:hover {
    background: lightgray;
}

.dropdown-button:focus {
    background: #75aaff5b;
}

.blue-button {
    background: #1363e2;
    border: none;
    outline: none;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 10px;
    color: white;
    border-radius: 5px;
}

.blue-button:hover {
    background: #4285F4;
}

.blue-button:focus {
    background: #94bdff;
}

.newdoc {
    background-color: whitesmoke;
    font-family: sans-serif;
    margin: 0px;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

.docselector-image {
    width: 100%;
    border: 1px gray solid;
    border-radius: 5px;
    outline: none;
}

.docselector-image:hover {
    border: 1px #4285F4 solid;
}

.docselector-image:active {
    border: 1px gray solid;
}

.docselector:hover {
    animation-name: docselection;
    animation-duration: 1s;
}

.existingdocs-listitem:hover {
    animation-name: exdocselection;
    animation-duration: 1s;
    background-color: #94bdff;
    border-radius: 2em;
}

.docselector {
    width: 150px;
    margin-right: 15px;
    display: inline-block;
}

@keyframes docselection {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0px); }
}

@keyframes exdocselection {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.existingdocs-list {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 1.5in;
    width: 60%;
    list-style: none;
}

.existingdocs-listitem {
    padding: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}