body {
    background-color: #e7e7e7;
    margin: 0px;
    font-family: sans-serif;
    overflow-y: hidden;
}

header {
    background-color: white;
    margin: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    border-bottom: 1px lightgray solid;
}

main {
    margin-top: 500px;
    max-height: 100%;
    overflow: scroll;
}

.page {
    background-color: white;
    margin-top: 80px;
    height: max-content;
    margin-bottom: 10px;
    width: 50%;
    padding: 1in;
    margin-left: auto;
    margin-right: auto;
    border: groove 2px rgba(128, 128, 128, 0.301);
}

.pagecontent {
    border: none;
    outline: none;
    resize: none;
    background-color: #ffffff00;
    font-family: Arial, Helvetica, sans-serif;
    width: 99.5%;
    overflow-y: visible;
}

.center {
    margin: auto;
    width: 100%;
}

.nav {
    list-style: none;
    margin-left: 20px;
    padding-left: 0px;
    margin-top: 5px;
}

.nav-section {
    display: inline;
}

.nav-button {
    border: none;
    background: none;
    outline: none;
    border-radius: 2px;
}

.nav-button:hover {
    background: lightgray;
}

.nav-button:focus {
    background: lightblue;
}

.title {
    outline: none;
    background: none;
    border: none;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    width: max-content;
    border-radius: 2px;
    border: 1px white solid;
}

.title:hover {
    border: 1px lightgray solid;
}

.title:focus {
    border: 2px #4285F4 solid;
    margin-bottom: -2px;
}